<ng-container *ngIf="user$ | async as user; else loginRequired">
<div class="row" style="justify-content: center; flex-direction: column; text-align: center; margin: 50px;">
    <h1>
        RECIPE LIST
    </h1>
</div>

<div class="row" style="margin: 2%;">
    <div class="col-xs-12">
        <button routerLink="/new-recipe" class="btn btn-success">New Recipe</button>
    </div>
</div>

<div class="row" style="margin: 2%;">
    <div class="col-md-3">
        <app-recipe-list (theSelectedRecipe)="selectedRecipe = $event"></app-recipe-list>
    </div>
    
    <div class="col-md-9">
        <app-recipe-details-ingredients *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe"></app-recipe-details-ingredients>
        <ng-template #infoText>
            <p>Select a recipe to show details here</p>
        </ng-template>
    </div>
</div>
</ng-container>

<ng-template #loginRequired>
    <h1>In order to see the recipes you need to log in!</h1>
</ng-template>