<header>
<nav class="container mx-auto">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"> Home page </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav item">
                <li> <a routerLink="/recipe-list">Recipe list</a></li>
                <li> <a routerLink="/new-recipe">Create new recipe</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>