<h2 mat-dialog-title>Edit recipe</h2>

<mat-dialog-content [formGroup]="recipeForm">
    <mat-form-field>
        <mat-label>Recipe Name:</mat-label>
        <input matInput
        formControlName="recipeName"
            >
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Recipe Description:</mat-label>
        <textarea matInput
            rows="10"
            formControlName="recipeDescription"
            ></textarea>
    </mat-form-field>
    <br>
    <mat-label>Recipe Ingredients:</mat-label>
    <br>

    <div class="row">
        <div formArrayName="recipeIngredients">
            <div 
                *ngFor="let ingredientCtrl of controls; let i = index"
                [formGroupName]="i">
                
                <mat-form-field>
                    <input matInput
                    type="text"
                    class="form-control"
                    formControlName="name">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput
                    type="number"
                    class="form-control"
                    formControlName="amount">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput
                    type="text"
                    class="form-control"
                    formControlName="unit">
                </mat-form-field>
                
                <button class="btn btn-danger">Delete</button>
            </div>
        </div >
    </div>


</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" class="mat-raised-button"(click)="close()">Close</button>
    <button type="submit" class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
