<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-12">
        <ul>
            <li class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients"
            >
                {{ ingredient.name }} - {{ ingredient.amount }}({{ ingredient.unit }})
            </li>
        </ul>
    </div>
</div>