<div class="row">
    <div class="col-xs-12 text-center">
        <img [src]="recipe.recipeImage" alt="{{ recipe.recipeName }}" class="img-responsive" style="max-height: 500px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h1>{{ recipe.recipeName }}</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-12 text-center">
        {{ recipe.recipeDescription }}
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-12">
        <ul>
            <li class="list-group-item"
                *ngFor="let ingredient of recipe.recipeIngredients"
            >
                {{ ingredient.name }}: {{ ingredient.amount }} {{ ingredient.unit }}
            </li>
        </ul>
    </div>
</div>
