<ng-container *ngIf="user$ | async as user; else loginRequired">
    <div class="row" style="margin: 50px;">
        <div class="col-xs-12">
            <h1>
                Create your own recipe
            </h1>
        </div>
    </div>

    <div class="row" style="margin: 50px;">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-6 text-start">
                    <h4>Recipe details</h4>
                </div>
                <div class="col-md-6 text-end">
                    <button class="btn btn-primary" type="submit" form="createPostForm">CREATE</button>
                </div>
            </div>

            <hr>
            <form id="createPostForm" [formGroup]="createRecipeForm" #postForm="ngForm" (ngSubmit)="onCreatePostRecipes()">
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label for="name">Recipe Name</label>
                        <input type="text" id="recipeName" class="form-control" formControlName="recipeName" required #recipeName>
                        <div *ngIf="createRecipeForm.controls['recipeName'].invalid && (createRecipeForm.controls['recipeName'].dirty || createRecipeForm.controls['recipeName'].touched)" class="alert alert-danger">
                            <div *ngIf="createRecipeForm.controls['recipeName'].errors.required">
                                Recipe name is required.
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label for="amount">Description</label>
                        <textarea 
                            id="recipeDescription"
                            class="form-control"
                            name="description"
                            formControlName="recipeDescription"
                            cols="100" rows="10"
                            required
                            #recipeDescription>
                        </textarea>
                        <div *ngIf="createRecipeForm.controls['recipeDescription'].invalid && (
                                createRecipeForm.controls['recipeDescription'].dirty ||
                                createRecipeForm.controls['recipeDescription'].touched
                            )"
                            class="alert alert-danger">

                            <div *ngIf="createRecipeForm.controls['recipeDescription'].errors.required">
                                Recipe description is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label for="image">Image path</label>
                        <input type="text" id="image" class="form-control" formControlName="recipeImage" required #recipeImagePath> 
                        <div *ngIf="createRecipeForm.controls['recipeImage'].invalid && (
                            createRecipeForm.controls['recipeImage'].dirty ||
                            createRecipeForm.controls['recipeImage'].touched
                        )"
                        class="alert alert-danger">

                            <div *ngIf="createRecipeForm.controls['recipeImage'].errors.required">
                                Recipe image is required.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row" style="margin: 50px;">
        <div class="col-xs-12">
            <h4>Ingredients</h4>
            <hr>
            <app-ingredients-list></app-ingredients-list>
        </div>
    </div>
            
</ng-container>

<ng-template #loginRequired>
    <h1>In order to create new recipes you need to log in!</h1>
</ng-template>