<ng-container *ngIf="user$ | async as user; else loginRequired">
    <div class="row" style="margin: 50px; color: rgb(212,175,55);">
        <div class="col-xs-12">
            <h1>
                Create your own recipe
            </h1>
        </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-warning" style="justify-content: center; text-align: center;">
        <strong>Warning!</strong> {{ errorMessage | json }}
    </div>

    <div class="row" style="margin: 50px; color: rgb(212,175,55)">
        <div class="col-xs-12">
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <form id="createPostForm" [formGroup]="createRecipeForm" #postForm="ngForm" (ngSubmit)="onCreatePostRecipes()">
                        <div class="row">
                            <div class="form-group">
                                <label for="name">Recipe Name</label>
                                <input type="text" id="recipeName" class="form-control" formControlName="recipeName" required #recipeName>
                                <div 
                                    class="alert alert-warning"
                                    *ngIf="createRecipeForm.controls['recipeName'].invalid && (
                                        createRecipeForm.controls['recipeName'].dirty ||
                                        createRecipeForm.controls['recipeName'].touched)">
                                    <div *ngIf="createRecipeForm.controls['recipeName'].errors.required">
                                        Recipe name is required.
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="form-group">
                                <label for="amount">Description</label>
                                <textarea 
                                    id="recipeDescription"
                                    class="form-control"
                                    name="description"
                                    formControlName="recipeDescription"
                                    cols="100" rows="10"
                                    required
                                    #recipeDescription>
                                </textarea>
                                <div 
                                    class="alert alert-warning"
                                    *ngIf="createRecipeForm.controls['recipeDescription'].invalid && (
                                        createRecipeForm.controls['recipeDescription'].dirty ||
                                        createRecipeForm.controls['recipeDescription'].touched)">
        
                                    <div *ngIf="createRecipeForm.controls['recipeDescription'].errors.required">
                                        Recipe description is required.
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="form-group">
                                <label for="image">Image path</label>
                                <input type="text" id="image" class="form-control" formControlName="recipeImage" required #recipeImagePath> 
                                <div
                                    class="alert alert-warning"
                                    *ngIf="createRecipeForm.controls['recipeImage'].invalid && (
                                        createRecipeForm.controls['recipeImage'].dirty ||
                                        createRecipeForm.controls['recipeImage'].touched)">
                                    
                                    <div *ngIf="createRecipeForm.controls['recipeImage'].errors.required">
                                        Recipe image is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        <div style="position: relative; margin-top: 50px;">
                            <button class="btn btn-primary" type="submit" form="createPostForm" style="font-size: 30px;">CREATE</button>
                        </div>
                    </div>

                </div>

                <div class="col-md-8">
                    <div class="row" style="margin-left: 30px; color: rgb(212,175,55)">
                        <div class="col-xs-12">
                            <h4>Ingredients</h4>
                            <hr>
                            <app-ingredients-list></app-ingredients-list>

                        </div>
                    </div>
                </div>    
            </div>

        </div>
    </div>

    <hr>

</ng-container>

<ng-template #loginRequired>
    <h1 class="not-logged-in">In order to create new recipes you need to log in!</h1>
</ng-template>