
<div id="sliderContainer" class="row card">
    <div class="col-md-12">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="slider-image-1" class="overlay-image">
                        
                    </div>
                    <div class="container">
                        <h1 *ngIf="user$ | async as user; else guest">
                            Welcome, {{ 
                                (user && user.email && user.email.substring(0, user.email.indexOf('@'))) ? user.email.substring(0, user.email.indexOf('@')).toUpperCase() : user.email.toUpperCase()
                            }}!
                        </h1>
                        <p>On this site you can find a few recipes, created by others or you can create your own and share with the other visitors.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="slider-image-2" class="overlay-image">
                        
                    </div>
                    <div class="container">
                        <h1 *ngIf="user$ | async as user; else guest">
                            Welcome, {{ 
                                (user && user.email && user.email.substring(0, user.email.indexOf('@'))) ? user.email.substring(0, user.email.indexOf('@')).toUpperCase() : user.email.toUpperCase()
                            }}!
                        </h1>
                        <p>On this site you can find a few recipes, created by others or you can create your own and share with the other visitors.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="slider-image-3" class="overlay-image">
                        
                    </div>
                    <div class="container">
                        <h1 *ngIf="user$ | async as user; else guest">
                            Welcome, {{ 
                                (user && user.email && user.email.substring(0, user.email.indexOf('@'))) ? user.email.substring(0, user.email.indexOf('@')).toUpperCase() : user.email.toUpperCase()
                            }}!
                        </h1>
                        <p>On this site you can find a few recipes, created by others or you can create your own and share with the other visitors.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<ng-template #guest>
    <h1>Welcome!</h1>
</ng-template>