
<body class="bg">
    <div class="row">
        <div class="col-md-12">
            <router-outlet>
                <app-header></app-header>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <app-l-side-bar></app-l-side-bar>
                    </div>
                    <div class="col-md-10">
                        <app-home-page></app-home-page>
                    </div>
                </div>
            </router-outlet>
        </div>
    </div>
</body>
