<div class="row d-flex justify-content-center align-items-center h-100" style="margin: 50px;">
    <div class="col-12 col-md-9 col-lg-7 col-xl-7">
        <div class="card" style="border-radius: 15px;">
            <h1 class="text-center">Terms of service</h1>
            <ol>
                <li> 
                    <p class="terms-of-service">
                        Ut ac lacus facilisis, scelerisque est id, viverra felis.
                        Vestibulum dapibus eros eget sollicitudin feugiat.
                        Phasellus id lectus faucibus, dictum ex ac, ultricies orci.
                        Proin sed tortor sed ligula posuere laoreet rutrum vitae turpis.
                        Donec iaculis lorem eu nunc ultricies, eget eleifend orci tempor.
                        Ut quis risus ornare justo sodales tincidunt.
                        Phasellus sit amet diam non nulla accumsan pretium.
                        Mauris imperdiet tellus vehicula, consequat lacus eu, vulputate metus.
                        Fusce eu nisl at velit interdum vulputate.
                        Morbi ut purus accumsan, vestibulum nulla sed, porttitor augue.
                        Maecenas in enim at tellus vehicula posuere.
                    </p>
                </li>
                <li>
                    <p class="terms-of-service">
                        Fusce ac ligula facilisis, facilisis velit vitae, mollis sapien.
                        Aliquam id justo eu elit cursus condimentum vel sed quam.
                        Integer iaculis leo vel metus placerat commodo.
                        In eget eros eget mauris molestie cursus.
                        Phasellus vel odio volutpat, hendrerit magna id, maximus nibh.
                        Etiam venenatis metus et erat blandit tempus.
                        Nam consequat mi sed libero blandit, at commodo enim luctus.
                        Ut tempus tellus vel libero interdum, vel sollicitudin arcu rhoncus.
                        Cras quis eros ac ante sodales tincidunt.
                    </p>
                </li>
                <li>
                    <p class="terms-of-service">
                        Pellentesque ac leo vitae ex molestie vehicula sit amet ut dolor.
                        Maecenas facilisis magna quis rutrum eleifend.
                        Nunc porttitor turpis commodo lorem elementum, et ultrices justo laoreet.
                        Curabitur ultrices risus sit amet lacinia tempor.
                        Donec feugiat nulla at commodo gravida.
                        Vivamus at est eu sapien dignissim suscipit.
                        Duis id augue id dui pharetra sagittis in ac nibh.
                        Morbi a diam nec metus sagittis blandit.
                        Suspendisse et nulla vitae ligula molestie malesuada.
                        Duis quis mauris ornare, consectetur lacus nec, hendrerit lorem.
                        Ut eu purus sit amet diam hendrerit sagittis lobortis ac libero.
                        Donec sit amet diam ut risus sollicitudin finibus ac eget ipsum.
                    </p>
                </li>
                <li>
                    <p class="terms-of-service">
                        Etiam tincidunt ante at tortor consectetur, sit amet lacinia nunc auctor.
                        Etiam tempor urna a luctus lacinia.
                        Praesent facilisis ipsum vel lorem vulputate, vitae efficitur lectus vestibulum.
                        Nam convallis lacus a enim tincidunt, vitae varius tortor vehicula.
                        Phasellus ullamcorper purus nec enim condimentum feugiat.
                        Suspendisse non quam tempor, tristique elit in, euismod enim.
                        Pellentesque et mi lacinia, aliquet leo sit amet, consequat nibh.
                        In lobortis leo a orci ultrices fermentum.
                    </p>
                </li>
                <li>
                    <p class="terms-of-service">
                        Cras porttitor enim vel urna convallis vulputate.
                        Maecenas congue mi nec purus malesuada, vitae varius urna scelerisque.
                        Donec condimentum erat eu laoreet tincidunt.
                        Aenean et nisl at diam volutpat mattis et sed felis.
                        Integer ac nibh pulvinar tellus fermentum hendrerit ut a sem.
                        Fusce feugiat elit nec sapien viverra, ac vehicula purus venenatis.
                        Maecenas ornare libero porta, bibendum magna in, auctor ligula.
                        Phasellus convallis nibh nec urna congue, at semper lorem iaculis.
                        Nam interdum ex id semper molestie.
                        Nulla facilisis libero et risus rhoncus, vel ullamcorper odio cursus.
                        Duis in massa accumsan, porttitor ex vel, vestibulum magna.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>