<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-7 text-center">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-grey-50 mb-5">Please enter your username and password!</p>

            <form>
                <div class="form-outline mb-4">
                    <input type="email" id="formUsername" class="form-control form-control-lg">
                    <label class="form-label" for="formUsername" style="margin-left: 0px;">Username</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 69.6px;"></div><div class="form-notch-trailing"></div></div></div>

                <div class="form-outline mb-4">
                    <input type="password" id="formPassword" class="form-control form-control-lg">
                    <label class="form-label" for="formPassword" style="margin-left: 0px;">Password</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>

                <p class="small mb-5 pb-lg-2">
                    <a class="text-grey-50" href="#!">Forgot password?</a>
                </p>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-dark btn-lg">Login</button>
                </div>
            </form>

        </div>
      </div>
    </div>
  </div>