<div class="row card" >
    <div class="col-md-12">
        <a class="list-group-item clearfix" (click)="onSelected()">
            <div class="col-xs-5 float-md-start">
                <h4 class="list-group-item-heading"> {{ recipe.recipeName }} </h4>
        
            </div>
            
            <span class="col-xs-5 float-md-end">
                <!-- 
                    property binding     -> [src]="recipe.recipeImage" 
                    string interpolation -> alt=" {{ recipe.recipeName }} " 
                -->
                <img 
                    [src]="recipe.recipeImage"
                    alt=" {{ recipe.recipeName }} "
                    
                    style="max-height: 100px; max-width: 100px;"
                >
            </span>

        </a>
        <div class="col-xs-2">
            <button style="width: 50%;" class="btn btn-success float-md-start" (click)="onUpdate(recipe)">+</button>
            <button style="width: 50%;" class="btn btn-danger float-md-end" (click)="onDelete(recipe)">X</button>
        </div>
    </div>
</div>





